<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <style>
       body{background-image:url( "{% static 'img/back.jpg'%}");
       background-size: 100%;
       }
       input{padding: 5px;}
       
       
      
      
       
    </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">Milk Store</a>
      </div>
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">vender <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addvender">addvender</a></li>
            <li><a href="venderdetails">venderdetails</a></li>
            <li><a href="/updatebutton">venderupdate</a></li>
            <li><a href="/delete">venderdelete</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bill<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/billid">GenerateBill</a></li>
            <li><a href="/billreport">BillReport</a></li>
            <li><a href="/vendorwise">Billserch</a></li>
          </ul>
      
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <form action="/billid" method="post" style="margin-top: 20px;margin-left: 20%;">
      {% csrf_token %}
      <input type="number" placeholder="enter the vender id " name="getid">
      <button class="btn btn-primary">submit</button>
      <a href="/bill/{{id}}" class="btn btn-success">GenerateBill</a>
    </form>   

  </div>
    
  </body>
</html>